/*  Default css for drupal 7
 *  code by: Brainsum s.r.o.
 *  author: zbombicz
 *  project: ---
 *  date: 2011.04
 *  INFO: Before modifying, adding new definitions reed all comments
 *  HELP: Blocks could be find easier by searching for its region:
 *  -- HEADER REGION -- , -- CONTENT REGION -- , -- RIGHT-SIDEBAR REGION -- , -- LEFT-SIDEBAR REGION -- ,
 *  -- FOOTER REGION --
 */


/*  -------------------------------------  ELEMENTS DEFAULT STYLE - @START ------------------------------
/*  -------------------------------------  ELEMENTS DEFAULT STYLE - @START ------------------------------
/*  -------------------------------------  ELEMENTS DEFAULT STYLE - @START ------------------------------
 *  RESTRICTION: only element or tag names, without classes, ids (.,#)
 */
h1, h2, h3, h4, h5, h6, label,
form, input, textarea,
ul, ol, li, quote,
div, span, code, hr{
  margin:0;
  padding:0;
}

ul, ol{
  padding-left:20px;
}


fieldset{
margin:8px 0px 16px 0px;
padding:10px;
}

h1 {  font-size: 30px; font-weight:normal; padding-bottom:25px; }
h2 {  font-size: 22px; font-weight:normal; padding-top:25px; padding-bottom:15px; }
h3 {  font-size: 17px; font-weight:normal; padding-top:15px; padding-bottom:10px; }
h4 {  font-size: 15px; font-weight:bold; padding-top:10px; padding-bottom:5px; }
h5 {  font-size: 13px; font-weight:bold; padding-top:5px; padding-bottom:3px; }
h6 {  font-size: 12px; font-weight:bold; padding-top:5px; padding-bottom:1px; }

p {
  margin: 0;
  padding: 7px 0px 14px 0px;
}

a:link, a:visited {
  color: #ee7611;
  text-decoration: none;
  outline:0px;
}

a:active,
a:hover {
  color: #f68220;
  text-decoration: underline;
}

a img{
	border:0px;
}

fieldset{
  background-color:#F9f9f9;
  padding:15px;
  margin-bottom:20px;
}

fieldset legend{
  background-color:#FFFFFF;
  border:1px solid #888888;
  padding:3px 5px;
}

table{
  width:100%;
  margin-bottom:15px;
}

table tr{
  background-color:#f8f8f8;
}

table td{
  padding:5px;
}

table thead th{
  padding:2px 0px 2px 5px;
  background-color:#fff;
  border-bottom:1px solid #ccc;
}

table caption{
  font-size:17px;
  font-weight:normal;
  padding-bottom:5px;
  text-align:left;
}

select{
  border:1px solid #a6adb0;
  background:#fff url(images/input-bg.gif) no-repeat top left;
}

textarea{
  border:1px solid #a6adb0;
  width:99%;
  background:#fff url(images/input-bg.gif) no-repeat top left;
}


/*  -------------------------------------  ELEMENTS DEFAULT STYLE - @END ------------------------------
 */


/*  --------------------------------------  COMMON CLASSES -  @START ----------------------------------
/*  --------------------------------------  COMMON CLASSES -  @START ----------------------------------
/*  --------------------------------------  COMMON CLASSES -  @START ----------------------------------
 *  RESTRICTION: No ID-s here!!!
 *               No 'only tagname' definitions here!!!
 *  INFO: Here comes classes, which are used on many places, like a.active, h2.title, .block, .clear, etc.
 *
 */

a.active {
  color: #f68220;
}

input.form-text{
  border:1px solid #a6adb0;
  height:19px;
  text-indent:5px;
  font-size:12px;
  padding-bottom:1px;
  background:#fff url(images/input-bg.gif) no-repeat top left;
}

input.form-submit {
  background-color:#FFFFFF;
  border:2px solid #C7BBDC;
  color:#EE7611;
  cursor:pointer;
  font-family:georgia;
  font-size:12px;
  font-weight:normal;
  height:26px;
  margin-top:7px;
  padding:1px 5px 2px;
}

.clear{
    clear:both;
    height:0px;
    overflow:hidden;
    }

li.leaf{
  list-style-image:none;
  list-style-type:none;
}

fieldset.collapsible{
  padding:15px;
}

fieldset.collapsed{
  padding:0px;
}


table tr.odd{
  background-color:#f8f8f8;
}

table tr.even{
  background-color:#fafafa;
}

html.js .resizable-textarea textarea,
.resizable-textarea,
.node-form input.form-text,
.node-form textarea{
  width:100%;
}

html.js fieldset.collapsed {
  margin-bottom:20px;
}

ul.primary li a {
  background-color:#eee;
}


div.messages{
  background:#fff none repeat scroll 0 0;
  color:#000;
  padding:5px;
  border:1px solid #000;
  margin-bottom:15px;
}

div.error{
  color:#cc0000;
  font-weight:bold;
  padding:10px;
}

div.sidebar div.block{
  background-color:#F7F3FD;
  margin:0 0px 20px 0px;
  padding:9px;
}

div.sidebar div.block h2{
  border-bottom:1px dashed #c7bbdc;
  color:#c7bbdc;
  margin-bottom:5px;
  padding:1px 5px 0;
}

div.field-label{
  background-color:#F6F6F6;
  margin:4px 0;
  padding:5px 0 5px 0;
}

div.field-name-field-lead{
  font-weight:bold;
  padding:10px 0px;
}

div.node div.links{
	padding-top:20px;
}

form.node-form div.form-item-language{
	float:none;
	clear:both;
}

/*  --------------------------------------  COMMON CLASSES -  @END ------------------------------------
 */


/*  --------------------------------  PAGE MAIN LAYOUT ELEMENTS -  @START -----------------------------
/*  --------------------------------  PAGE MAIN LAYOUT ELEMENTS -  @START -----------------------------
/*  --------------------------------  PAGE MAIN LAYOUT ELEMENTS -  @START -----------------------------
 *  RESTRICTION: ONLY ID-s, and BODY tag!!! (#)
 *  INFO: Page layout elements must have ID's.
 *        Here comes elements like header, sidebars, content ,footer
 */
body {
    background:#C3C3C3 none;
    color:#000;
    font-family:Georgia;
    font-size:12px;
    padding:0px;
    margin:0px;
    }

#page-outer{
    margin:0px auto 20px auto;
    background:#B3B3B3 none;
    width:978px;
    padding-bottom:10px;
    text-align:left;
    }

#page-inner{
    background:#fff none;
    margin:0px auto;
    width:958px;
    }

#page_container{
    padding:0px;
    }

#header{
  padding:10px 20px 10px 3px;
  border-bottom:1px dashed #ddd;
}

#sidebar-first{
  width:180px;
  padding:10px;
  float:left;
}

#sidebar-second{
  width:180px;
  padding:10px;
  float:left;
}

#content{
  width:918px;
  padding:20px;
  background:#fff none;
}

body.two-sidebars #content{
  border-left:1px dashed #ddd;
  border-right:1px dashed #ddd;
  width:516px;
  float:left;
}

body.sidebar-first #content{
  border-left:1px dashed #ddd;
  width:717px;
  float:left;
}

body.sidebar-second #content{
  border-right:1px dashed #ddd;
  width:717px;
  float:left;
}

#footer{
  border-top:1px dashed #ddd;
  clear:both;
  background-color:#F7F3FD;
  padding-top:7px;
}
/*  ---------------------------------  PAGE MAIN LAYOUT ELEMENTS -  @END ------------------------------
 */



/*  --------------------------------  BLOCKS STYLE DEFINITIONS  -  @START -----------------------------
/*  --------------------------------  BLOCKS STYLE DEFINITIONS  -  @START -----------------------------
/*  --------------------------------  BLOCKS STYLE DEFINITIONS  -  @START -----------------------------
 *  RESTRICTON: Group boxes, definitions by regions!!!
 */

/* ------------- -- HEADER REGION -- START ------------------------ */
/* ------------- -- HEADER REGION -- START ------------------------ */

#header #logo{
  float:left;
	padding:5px 0 0 15px;
}

#header #block-system-main-menu{
  float:right;
  font-size:15px;
  padding:20px;
}

#header #block-system-main-menu ul.menu {
    display: inline;
    padding-left: 0;
}

#header #block-system-main-menu ul.menu li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
}

#header #block-locale-language{
  background-color:#F7F3FD;
  float:right;
  font-size:10px;
  line-height:12px;
  padding:5px 10px 4px 0;
}

#header #block-locale-language ul li{
  list-style:none;
  padding:0px;
}


/* ------------- -- HEADER REGION -- END -------------------------- */


/* ------------- -- LEFT-SIDEBAR REGION -- START ------------------ */
/* ------------- -- LEFT-SIDEBAR REGION -- START ------------------ */

#block-search-0 #edit-search-block-form-1-wrapper label{
  display:none;
}

#block-search-0 #edit-search-block-form-1-wrapper{
  float:left;
  margin-top:7px;
  padding-right:4px;
  width:127px;
}

#block-search-0 input.form-text{
  width:125px;
}


#block-search-0 input.form-submit{
  margin-top:7px;
  padding:0px 4px 1px;
  height:22px;
}

#block-user-0 input.form-text{
  width:100%;
}

#block-user-0 .form-item label {
  font-weight:normal;
  text-align:left;
}

#block-user-0 .item-list ul{
  padding:6px 0px 0px 0px;
}

#block-user-0 .form-item {
  margin:0px 0px 5px 0px;
}

#block-user-0 .item-list ul li {
  list-style:none;
  font-size:10px;
  margin:0px;
}

#block-user-0 #user-login-form {
  padding-top:5px;
  text-align:left;
}

#block-user-0 input.form-submit{
  height:23px;
  padding:0 5px 2px;
}

#block-simplenews-1 #edit-mail-wrapper label{
  font-weight:normal;
}

#block-simplenews-1 input.form-text{
  width:100%;
}

#block-simplenews-1 #edit-mail-wrapper{
  margin:0px;
  padding-top:5px;
}

#block-simplenews-1 div.form-radios{
  margin:0px;
}



/* ------------- -- LEFT-SIDEBAR REGION -- END -------------------- */

/* ------------- -- RIGHT-SIDEBAR REGION -- START ----------------- */
/* ------------- -- RIGHT-SIDEBAR REGION -- START ----------------- */

/* ------------- -- RIGHT-SIDEBAR REGION -- END ------------------- */


/* ------------- -- CONTENT REGION -- START ----------------------- */
/* ------------- -- CONTENT REGION -- START ----------------------- */

div.views-row{
  padding:10px 0px;
  border-bottom:1px dashed #e8e8e8;
}

div.views-field-title{
  padding-bottom:8px;
  font-weight:bold;
  font-size:13px;
}

div.view-slider div.views-row{
	padding:0px;
	border:0px none;
}

div.view-slider div.views-row img{
	display:block;
}

div.view-slider div.views_slideshow_pager_field div.views-slideshow-pager-field-item{
	float:left;
	padding:4px 10px;
	background:#eee;
	border-right:1px solid #ddd;
}

div.view-slider div.views_slideshow_pager_field div.views-slideshow-pager-field-item:last-child{
	border:0px none;
}

div.view-slider div.views_slideshow_pager_field div.active{
	cursor:pointer;
	background:#ddd;
}

div.view-slider div.views_slideshow_pager_field div.views-slideshow-pager-field-item div.views-field-title{
	padding:0px;
	font-weight:normal;
}

div.field-name-field-photogallery div.field-item,
div.views-field-field-photogallery{
  float:left;
}

div.field-name-field-photogallery div.field-item img,
div.views-field-field-photogallery img{
  padding:0px 10px 5px 0px;
}


.float-right{
  float:right;
  padding:0px 0px 8px 15px;
}

.float-left{
  float:left;
  padding:0px 15px 8px 0px;
}

.image-padding{
  padding:19px 15px ;
}


/* ------------- -- CONTENT REGION -- END ------------------------- */

/* ------------- -- FOOTER REGION -- START ------------------------ */
/* ------------- -- FOOTER REGION -- START ------------------------ */

#footer #block-system-0 {
  float:left;
  font-size:11px;
  padding:0 14px 0 20px;
}

#footer div.madeby {
  float:right;
  padding:4px 10px 7px 0px;
}

#footer div.madeby a{
  font-size:11px;
  text-decoration:none;
}


/* ------------- -- FOOTER REGION -- END -------------------------- */


/*  ---------------------------------  BLOCKS STYLE DEFINITIONS  -  @END ------------------------------
 */