input.form-text,
	input.form-email,
	textarea {
		font-size: em(14);
		width: 100%;
		border: 1px solid $black;
		padding: 0 em(14, 14);
		text-transform: uppercase;
		font-family: $roboto;
		font-weight: 400;
		background-color: $white;

		@include placeholder {
			color: $black;
		}
	}

	input.form-text,
	input.form-email {			
		line-height: em(38, 14);
		height: em(38, 14);		
	}

	textarea {
		resize: none;
		padding-top: em(10, 14);
		padding-bottom: em(10, 14);
		height: em(148, 14);
	}

	input.form-submit {
		width: 100%;
		font-size: em(14);
		border: 0 none;
		background-color: #bed62f;
		padding: 0 em(14, 14);
		text-transform: uppercase;
		font-family: $roboto;
		font-weight: 900;
		color: $white;
		line-height: em(38, 14);
		height: em(38, 14);
	}