header {
	text-align: center;
	margin-top: rem(10);
	margin-bottom: rem(25);
} //header

.header__logo {
	
	float: none;
	
	img {
		width: 112px;
		margin: 0 auto;
	}

} //.header__logo