#navigation {

	background-image: url(../images/bg_navigation_sprite.png);
	background-repeat: repeat-x;
	background-position: 0 -11px;

	nav {
		text-align: center;
	}

	.links,
	.menu {

		margin-top: em(-6, 16);
		background-color: $white;
		display: inline-block;

		li {
			color: $black;
			text-transform: uppercase;
			font-weight: 300;
			font-size: em(14);
			margin: 0 em(7, 14);
			padding: 0;

			&.active-trail,
			&.active {
				font-weight: 700;
			}

			&.first {margin-left: 0;}
			&.last {margin-right: 0;}

			&.first:before,
			&.last:after {
				content: '';
				display: inline-block;
				width: em(11, 14);
				height: em(11, 14);
				background-image: url(../images/bg_navigation_sprite.png);
				background-repeat: no-repeat;
			}

			&.first:before {
				background-position: 0 0;
				margin-right: em(15, 14);
			}

			&.last:after {
				background-position: -11px 0;
				margin-left: em(15, 14);
			}

		} //li

	} //.links, .menu

	a {
		color: $black;
		text-decoration: none;

		&:hover,
		&:active {
			border-bottom: solid 1px #d1d1d1;
		}

	} //a

} //#navigation